<div class="container mt60 mb60 pt30 align-center">
    <h2 class="board-h2">어느 신입생 X의 고민</h2>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 pb60">
            <img class="board-img" src="/assets/ad/1.PNG"></img>
            <img class="board-img" src="/assets/ad/2.PNG"></img>
            <img class="board-img" src="/assets/ad/3.PNG"></img>
            <img class="board-img" src="/assets/ad/4.PNG"></img>
            <img class="board-img" src="/assets/ad/5.PNG"></img>
            <img class="board-img" src="/assets/ad/6.PNG"></img>
            <img class="board-img" src="/assets/ad/7.PNG"></img>
            <img class="board-img" src="/assets/ad/8.PNG"></img>
        </div>
        <div class="col-1"></div>
    </div>
</div>