<div class="small-groups-body-1 mh700">
  <div class="containerpt">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="small-groups-show-box align-center">
            <h2>설문조사 이벤트 당첨자</h2>
            <h3 style="color: #ff5757; margin: 1rem;">당첨을 축하 드립니다!</h3>
            <h3>기프티콘은 12월 14일에 일괄 전달됩니다.</h3>
            <pre style="font-size: 1.5rem; font-weight: bold;">
                
010-4**9-3002
010-6**9-2766
010-9**7-4558
010-5**7-4831
010-6**4-3669
010-4**7-0960
010-6**2-1357
010-7**5-1594
010-9**7-9617
010-9**7-1614
010-4**8-3857
010-4**0-9262
010-3**6-1617
010-8**3-3859
010-7**8-9292
010-3**9-9210
010-9**5-7385
010-5**5-7491
010-4**2-3724
010-4**9-7719
010-4**5-2434
010-9**6-3219
010-8**8-8347
010-3**8-7355
010-8**2-4553
010-4**3-4858
010-8**8-0508
010-8**1-3962
010-9**6-5302
010-8**7-9554
010-5**0-8632
010-9**5-8388
010-3**3-4882
010-4**9-4135
010-9**4-3317
            </pre>
            
            
        </div>
      </div>
      <div class="col-3"></div>
      </div>
    </div>
  </div>
</div>