<div class="board-body">
    <div class="container align-center">
        <h2 class="board-title align-center">설문조사</h2>
        <div class="row">
            <div class="col-3"></div>
            <!--<div class="col-2"><a href="/board/manual1/"><div class=" m1"><div class="manual-btn align-center"><h2><span style="font-size: 1.7rem;">스쿠체크</span><br>설명서</h2></div></div></a></div>-->
            <div class="col-3"><a href="https://docs.google.com/forms/d/1dc47r_KcWi1uN4SQ8KbnxOECfQMVTI-DEXRzJzAPjk0" target="_blink"><div class=" m5"><div class="manual-btn1 align-center pt50"><h2>사용자<br>설문조사</h2></div></div></a></div>
            <div class="col-3"><a href="https://docs.google.com/forms/d/1DXlp5KCwvRenSCUxvTDjnLiIK4b5H_OFudOOdg1-REg" target="_blink"><div class=" m6"><div class="manual-btn1 align-center"><h2>동아리<br>운영진<br>설문조사</h2></div></div></a></div>
            <div class="col-3"></div>
        </div>
    </div>
</div>