<div class="board-body">
    <div class="container">
        <h2 class="board-title align-center">사용자 메뉴얼</h2>
        <div class="row">
            <div class="col-3"></div>
            <!--<div class="col-2"><a href="/board/manual1/"><div class=" m1"><div class="manual-btn align-center"><h2><span style="font-size: 1.7rem;">스쿠체크</span><br>설명서</h2></div></div></a></div>-->
            <div class="col-2"><a href="/board/manual2/"><div class=" m2"><div class="manual-btn align-center"><h2>동아리<br>설명서</h2></div></div></a></div>
            <div class="col-2"><a href="/board/manual3/"><div class=" m3"><div class="manual-btn align-center"><h2>소모임<br>설명서</h2></div></div></a></div>
            <div class="col-2"><a href="/board/manual4/"><div class=" m4"><div class="manual-btn align-center"><h2><span style="font-size: 1.7rem;">슼쳌달력</span><br>설명서</h2></div></div></a></div>
            <div class="col-3"></div>
        </div>
    </div>
</div>