<div class="ttste ">
    <div class="container">
        <div class="align-center" style="font-size: 2rem; color: #000; margin: 2rem;"><p>계정명</p></div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-7">
                <div class="row">
                    <div class="col-6">
                        
                        <p>관리자</p>
                        <p> &emsp;</p>
                        <ul>
                            <li>    멋쟁이사자처럼 관리자 :</li>
                            <li>    Puzzle 관리자 :</li>
                            <li> 	개발자들 관리자 :</li>
                            
                        </ul>
                        <div class="dropdown-divider"></div>
                        <p> &emsp;</p>
                        <p>일반 유저 - 동아리 소속자</p>
                        <p> &emsp;</p>
                        <ul>
                            <li>    멋쟁이사자처럼 회원 :</li>
                        </ul>
                        <div class="dropdown-divider"></div>
                         <p> &emsp;</p>
                         <p>그냥 유저</p>
                         <p> &emsp;</p>
                         <ul>
                             <li>그냥 만들어서 사용 바람</li>
                         </ul>
                    </div>
                    <div class="col-6">
                        <p>아이디 / 비밀번호</p>
                        <p> &emsp;</p>
                        <ul>
                            <li>likelion_admin / 123456</li>
                            <li>likelion_user1 / 123456</li>
                            <li>puzzle_admin / 123456</li>
                          
                        </ul>
                        <div class="dropdown-divider"></div>
                        <p> &emsp;</p>
                        <p> &emsp;</p>
                        <p> &emsp;</p>
                        <ul>
                            <li>likelion_user1 / 123456</li>
                        </ul>
                        <div class="dropdown-divider"></div>
                         <p> &emsp;</p>
                         <p> &emsp;</p>
                    </div>
                </div>
                
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>    