<div class="board-body">
    <div class="container">
        <h2 class="board-title align-center">동아리 설명서</h2>
        <!--<div class="row">-->
        <!--    <div class="col-2"></div>-->
        <!--    <div class="col-8">-->
                <div class="board-manual-box align-center">
                    <h5 style="color: #ff5757;">설명서는 정식 서비스에서 체워집니다.</h5>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-4">
                            <div style="margin: 1rem; font-size: 2rem; font-weight: bold; color: purple;">
                                <p>관리자 아이디</p>
                              
                                <p>test1</p>
                                <p>test2</p>
                                <p>test3</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <div style="margin: 1rem; font-size: 2rem; font-weight: bold; color: purple;">
                                <p>관리자 비밀번호</p>
                                
                                <p>123456</p>
                                <p>123456</p>
                                <p>123456</p>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <p style="margin: 3rem 0; font-size: 1.5rem;">
                        '동아리'는 학내 동아리 목록과 정보를 한 눈에 파악하기 위한 기능입니다.
                    </p>
                    <img src="/assets/manual/clu1.png" style="width: 100%">
                    <div class=" align-left" style="padding: 2rem; 3rem 0 5rem;">
                        <div style=" margin-bottom: 2rem;">
                            <h4 style="color: #ff5757; display: inline-block;">1)</h4><h4 style="font-weight: bold; display: inline-block;">동아리 관리자 전용 버튼 (일반 사용자에겐 보이지 않음.) </h4>
                            <p style="margin-left: 4rem; font-size: 1.3rem; font-weight: bold;">클릭하면 자세한 기능이 나온다.</p>
                        </div>
                        <div><h4 style="color: #ff5757; display: inline-block;">2)</h4><h4 style="font-weight: bold; display: inline-block;">목록 - 클릭하면 상세 페이지로 넘어간다.</h4></div>
                    </div>
                    <p style="margin: 3rem 0; font-size: 1.5rem;">
                        '동아리 지원서'는 말 그대로입니다. 종이 지원서의 감성을 살렸습니다.
                    </p>
                    <img src="/assets/manual/clu2.png" style="width: 100%">
                    <div class=" align-left" style="padding: 2rem; 3rem 0 5rem;">
                        <div style=" margin-bottom: 2rem;">
                            <h4 style="color: #ff5757; display: inline-block;">1)</h4><h4 style="font-weight: bold; display: inline-block;">지원서 수정  </h4>
                            <p style="margin-left: 4rem; font-size: 1.3rem; font-weight: bold;">동아리 관리자는 지원서의 내용을 수정할 수 있다.</p>
                        </div>
                        <div style=" margin-bottom: 2rem;"><h4 style="color: #ff5757; display: inline-block;">2)</h4><h4 style="font-weight: bold; display: inline-block;">지원서 질문 </h4></div>
                        <div style=" margin-bottom: 2rem;">
                            <h4 style="color: #ff5757; display: inline-block;">3)</h4><h4 style="font-weight: bold; display: inline-block;">지원자 인적사항. </h4>
                            <p style="margin-left: 4rem; font-size: 1.3rem; font-weight: bold;">지원자의 인적 사항이 자동으로 넘어온다.</p>
                        </div>
                    </div>
                    <h3 style="color: #dd3535; margin: 2rem 0;" >이 외에 다양한 기능이 많습니다. 직접 사용해보시길 권해드립니다.</h3>
                </div>
        <!--    </div>-->
        <!--    <div class="col-2"></div>-->
        <!--</div>-->
    </div>
</div>