<div class="">
    <div class="sorry-body mh900">
        <div class="container pt60 pb60 ">
            <svg viewBox="0 0 1320 300">
                <!-- Symbol -->
                <symbol id="s-text">
                  <text text-anchor="middle" x="50%" y="30%" dy=".35em">
                    아직 개발중입니다. 
                  </text>
                  <text text-anchor="middle" x="50%" y="70%" dy=".35em">
                    본 서비스에서 만나요~
                  </text>
                </symbol>  
                
                <!-- Duplicate symbols -->
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
                <use xlink:href="#s-text" class="text"></use>
            </svg>
        </div>
    </div>
</div>