<div class="mh700" style="background: #eee; padding: 10rem;">
    <div class="container align-center">
        <h2 style="font-weight: bold; font-size: 4rem; margin-bottom: 5rem;">STAFF</h2>
        <div style="display: inline-block; margin: 1.5rem;"><img src="/assets/staff/1.jpg" style="border-radius: 20px; width: 13rem; height: 13rem"><p style="margin: 1rem; font-weight: bold; font-size: 2rem;">김승래</p></div>
        <div style="display: inline-block; margin: 1.5rem;"><img src="https://avatars3.githubusercontent.com/u/26575604?v=4" style="border-radius: 20px; width: 13rem; height: 13rem"><p style="margin: 1rem; font-weight: bold; font-size: 2rem;">조민국</p></div>
        <div style="display: inline-block; margin: 1.5rem;"><img src="/assets/staff/5.jpg" style="border-radius: 20px; width: 13rem; height: 13rem"><p style="margin: 1rem; font-weight: bold; font-size: 2rem;">박결</p></div>
        <div style="display: inline-block; margin: 1.5rem;"><img src="https://avatars3.githubusercontent.com/u/25241026?s=400&v=4" style="border-radius: 20px; width: 13rem; height: 13rem"><p style="margin: 1rem; font-weight: bold; font-size: 2rem;">노욱진</p></div>
        <div style="display: inline-block; margin: 1.5rem;"><img src="/assets/staff/2.jpg" style="border-radius: 20px; width: 13rem; height: 13rem"><p style="margin: 1rem; font-weight: bold; font-size: 2rem;">함진경</p></div>
        <div style="display: inline-block; margin: 1.5rem;"><img src="/assets/staff/3.jpg" style="border-radius: 20px; width: 13rem; height: 13rem"><p style="margin: 1rem; font-weight: bold; font-size: 2rem;">한현수</p></div>
        <div style="display: inline-block; margin: 1.5rem;"><img src="/assets/staff/4.jpg" style="border-radius: 20px; width: 13rem; height: 13rem"><p style="margin: 1rem; font-weight: bold; font-size: 2rem;">홍다은</p></div>
        
        
    </div>
</div>