<div class="dog-wrapper">
    <div class="dog-wrap">
        
        <div class="stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>z
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
        
        <div class="shooting-star">
            <div class="shooting"></div>
        </div>
        
        <div class="moon-container">
            <div class="moon-glow">
                <div class="glow2"></div>
                <div class="glow1"></div>
            </div>
            <div class="moon-center">
                <div class="moon-scars">
                    <div class="scars1"></div>
                    <div class="scars2"></div>
                    <div class="scars3"></div>
                </div>
            </div>
        </div>
        <div class="content-message">
        	<p>Ari-Check</p>
        	<p>점 검 중</p>
        </div>
        <div class="dog-container">
            <div class="front-left-leg">
                <div class="front-left-foot"></div>
            </div>
            <div class="dog-back-torso"></div>
            <div class="dog-head-front">
                <div class="ears">
                    <div class="left-ear ear"></div>
                    <div class="right-ear ear"></div>
                </div>
                <div class="eyes">
                    <div class="left-eye eye"></div>
                    <div class="right-eye eye"></div>
                </div>
                <div class="dog-mouth">
                    <div class="dog-mouth-base">
                        <div class="dog-nose-black"></div>
                    </div>
                </div>
                <div class="dog-collar"></div>
            </div>
            <div class="dog-back-tail">
                <div class="curve1"></div>
                <div class="curve2"></div>
                <div class="curve3"></div>
                <div class="end"></div>
            </div>
            <div class="back-leg">
                <div class="back-leg-foot"></div>
            </div>
            <div class="front-right-leg">
                <div class="front-right-foot"></div>
            </div>
        </div>
        <div class="hill">
            <div class="hill1"></div>
            <div class="hill2"></div>
            <div class="hill3"></div>
        </div>
        <div class="back-hill"></div>
        
        <div class="dog-kennel">
            <div class="roof-right">
                <div class="wall"></div>
            </div>
            <div class="wall-left"></div>
            <div class="wall-right">
                <div class="door"></div>
            </div>
            <div class="roof-left">
            </div>
        </div>
        
        <div class="ground"></div>
        
    </div>
</div>