.club-view{
    padding: 4rem 0 2rem 0;
}

.club-view-img{
   width: 20rem;
   margin-bottom: 2rem;
   padding-bottom: 0.5rem;

}

.club-view-h{
    padding: 1rem;
    font-size: 3rem;
    color: #000;
    font-family: 'Do Hyeon', sans-serif;
}

.club-view-h2{
    font-size: 1.5rem;
    color: #000;
    font-weight: bold;
}
.club-view-p{
    font-size: 1.5rem;
    color: #000;
    padding: 1rem 0 2rem 0;
}

/*일반 유저 지원버튼*/
.club-view-app-btn-1{
    width: 7rem;
    height: 2.2em;
    padding: 0.45rem;
    background-color: #4363a4;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 2rem;
    display: inline-block;
}

.club-view-app-btn-1:hover{
    cursor: pointer;
    color: #fff;
    background-color: #56cec1;    
    
}

/*관리자 지원 시작 버튼*/
.club-view-app-btn-2{
    width: 10rem;
    height: 2.2em;
    padding: 0.45rem;
    background: #3596b0;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 2rem;
    display: inline-block;
}

.club-view-app-btn-2:hover{
    cursor: pointer;
    color: #fff;
    background-color: #56cec1;    
    
}

/*관리자 지원 마감 버튼*/
.club-view-app-btn-3{
    width: 10rem;
    height: 2.2em;
    padding: 0.45rem;
    background-color: #ff6666;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 2rem;
    display: inline-block;
}

.club-view-app-btn-3:hover{
    cursor: pointer;
    color: #fff;
    background-color: #ff8888;    
    
}

.club-view-member{
    border-top: 1px solid #ddd;
}

.club-view-memb{
    width: 4rem;
    padding: 0.3rem;
    border: 2px solid #ddd;
    border-radius: 50%;
}

.club-view-memb-name{
    font-size: 0.8rem;
    font-weight: bold;
}





