<div class="small-groups-body-1">
  <div class="container pt60 pb60">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <div class="small-groups-create-box">
          <div class=""><h3 class="small-groups-create-h3">소모임 만들기</h3></div>
          
          <%= render 'form', small_group: @small_group %>
            
            
        </div>
      </div>
      <div class="col-3"></div>
    </div>
  </div>
</div>

