<div class="clubs-index mt60 mb60">
<form action="/post/update/<%= @posts.id %>" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목 : <input type="text" name="title" value="<%= @posts.title %>"><br>
    내용 : <textarea name="content"><%= @posts.content %></textarea><br>
    <input type="submit" value="수정 완료">
</form>
</div>