.apply-form-body{
    background-color: #eee;
}

.apply-form-h2{
    font-weight: bold;
}

.apply-form-edit-p{
	font-size: 1.25rem;
	color: #ff5757;
	font-weight: bold;
}

.apply-form-box{
	/*height: 830px;*/
	padding: 3rem;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	background-color: #fff;
}

.apply-form-day{
	font-size: 0.8rem;
	color: #444;
}

.apply-form-img{
    margin-top: 1.5rem;
    width: 9rem;
    border-radius: 10px;
}

.apply-form-user-info{
    margin-left: 1rem;
    padding: 1rem 1.5rem;
    border-top: 1px solid #4363a4;
    border-bottom: 1px solid #4363a4;
}
.apply-form-user-info p{
	font-weight: bold;
}
.apply-form-h3{
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    color: #222;
}

.apply-form-question-box{
	margin-top: 3rem;
	padding: 3rem 0 2rem 0;
	text-align: left;
	/*border-top: 1px solid #4363a4;*/
	/*border-bottom: 1px solid #4363a4;*/
}
.apply-form-question-box span{
	font-size: 1.25rem;
	color: #000;
	font-weight: bold;
}

.title-edit input[type="text"]{
	padding-left: 1rem;
	color: #777;
	width: 80%;
	border: 1.5px solid #ffcccc;
	border-radius: 5px;
}
.answer_box{
	margin: 0.5rem 2rem 2rem 1rem;
    height: 10rem;
    padding: 1rem;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1rem;
    overflow-y: scroll;
    width: 97%;
}

.apply-form-bttn{
	margin-top: 1rem;
	border: none;
	outline: none;
	padding: 0.5rem 0;
	background: url(/assets/index/banner_1.png);
	counter-reset: #fff;
	font-size: 1.2rem;
	border-radius: 5px;
	font-weight: bold;
}
.apply-form-bttn:hover{
    color: #fff;
}

.apply-form-edit-bttn input[type="submit"]{
	margin-top: 1rem;
	border: none;
	outline: none;
	padding: 0.5rem 0;
	background: url(/assets/index/banner_1.png);
	counter-reset: #fff;
	font-size: 1.2rem;
	border-radius: 5px;
	font-weight: bold;
	width:100%;
}
.apply-form-edit-bttn input[type="submit"]:hover{
	cursor: pointer;
	color: #fff;
}