.apply-form-outline{
    width: 1000px;
    margin: auto;
    padding: 15px;
    position: relative;
}

.button-in-apply-form{
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 100px;
    text-align: center;
}

.button-apply-form-edit{
    font-size: 18px;
    margin: 0.3rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    background-color: #FFD0D6;
    color: white;
    border-radius: 20px;
    display: inline-block;
    border-color: white;
}

.button-apply-re-submit{
    font-size: 18px;
    margin: 0.3rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    background-color: #FFD0D6;
    color: white !important;
    border-radius: 20px;
    display: inline-block;
    border-color: white;
}
.apply_form_p{
    /*display:inline-block;*/
    font-size: 25px;
    padding-left: 30px;
    color: #555;
}