.apply-content-outline{
    width: 780px;
    margin: auto;
    padding: 15px;
    position: relative;
}

.apply-content{
    padding: 25px 60px;
    margin: auto;
}

.current-user-name{
    text-align: right;
    margin-bottom:10px;
}

.svg-line-apply-index-pink{
    position: absolute;
}

.svg-line-apply-index-yellow{
	position: absolute;
}

.structure-end{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: flex-end;
}

.question-q{
    display: inline-block;
    color: #FFD0D6;
    font-size: 26px;
    padding-right: 10px;
    padding-bottom: 5px;
}

.answer-a{
    color: #FEE19F;
    font-size: 26px;
    padding-right: 10px;
    padding-bottom: 5px;

}

.button-apply-index-edit{
    font-size: 18px;
    margin: 0.3rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    background-color: #FFD0D6;
    color: white !important;
    border-radius: 20px;
    display: inline-block;
}

.button-in-apply-content{
    margin: auto;
    margin-top: 4rem;
    text-align: center;
}

.button-apply-new-submit{
    font-size: 18px;
    margin: 0.3rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-right: 0.9rem;
    padding-left: 0.9rem;
    background-color: #FFD0D6;
    color: white !important;
    border-radius: 20px;
    display: inline-block;
    border-color: white;
}

.question-content{
	display: inline-block;
	font-size: 22.5px;
	bottom: 7px;
	color: #434343;
	line-height: 16px;
}

.applicant-card{
    border: solid;
    border-color: #FFD0D6;
    border-width: 3px;
}

.apply-card-for-manager{
    display: inline-block;
    margin: 5px;
    padding: 8px;
}

.apply-card-outline{
    margin-top: 20px;
    padding: 5px;
    border: solid;
    border-width: 4px;
    border-color: #FFD0D6;
}

.apply-card-align{
    max-width: 50%;
}

.button-in-apply-card{
    text-align: center;
}

.button-apply-card-pink{
    font-size: 18px;
    margin: 0.3rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    background-color: #FFD0D6;
    color: white !important;
    border-radius: 20px;
    display: inline-block;
}

.button-apply-card-yellow{
    font-size: 18px;
    margin: 0.3rem;
    padding-top: 0.45rem;
    padding-bottom: 0.45rem;
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    background-color: #FEE19F;
    color: white !important;
    border-radius: 20px;
    display: inline-block;
}

/* apply_form */
.apply_form_input input[type="text"]{
	/*border-bottom: 1px solid #000;*/
	/*background: transparent;*/
	/*outline: none;*/
	/*height: 40px;*/
	/*color: #222;*/
	/*font-size: 25px;*/
	/*width: 120%;*/
    width: 100%;
    border: 1.5px solid #9b9596;
    border-radius: 10px;
    font-size: 15px;
    color: #333;
    padding: 10px 15px;
    outline: none;
    
}

