.board-body{
    min-height: 700px;
    background-color: #eee;
    padding: 5rem;
}

.board-h2{
    margin: 3rem 0;
    font-size: 2.5rem;
    color: #000;
    font-weight: bold;
}

.board-img{
    display: block;
    width: 100%;
    margin: 0.5rem 0;
}

.board-title{
    font-weight: bold; font-size: 2rem; margin-top: 4rem;
}

.manual-btn{
    margin-top: 4rem;
    width: 10rem;
    height: 10rem;
    border: 10px solid #ddd;
    padding: 2rem 0.5rem 0 0.5rem;
    /*background-color: #fff;*/
    border-radius: 20px;
    color: #fff;
    font-size: 0.8rem;

}

.m1 .manual-btn {
    background-color: #56cec1;
}
.m1 .manual-btn:hover{
    background-color: #fff;
    color: #000;
}

.m2 .manual-btn {
    background-color: #3596b0;
    font-weight: bold;
}
.m2 .manual-btn:hover{
    background-color: #fff;
    color: #000;
}
.m3 .manual-btn {
    background-color: #327cac ;
    font-weight: bold;
}
.m3 .manual-btn:hover{
    background-color: #fff;
    color: #000;
}
.m4 .manual-btn {
    background-color: #4363a4;
}.m4 .manual-btn:hover{
    background-color: #fff;
    color: #000;
}

.board-manual-box{
    margin: 4rem;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 25px;
}


.manual-btn1{
    margin-top: 4rem;
    margin-left: 2rem;
    width: 13rem;
    height: 13rem;
    border: 10px solid #ddd;
    padding: 2rem 0.5rem 0 0.5rem;
    /*background-color: #fff;*/
    border-radius: 20px;
    color: #fff;
    font-size: 0.8rem;

}


.m5 .manual-btn1{
    background-color: #56cec1;
}
.m5 .manual-btn1:hover{
    background-color: #fff;
    color: #000;
}
.m6 .manual-btn1{
    background-color: #ff7f00;
}
.m6 .manual-btn1:hover{
    background-color: #fff;
    color: #000;
}