

<div class="clubs-index mt60 mb60 mh700">
  <div class="container">
    <div class="align-center"><h2 class="clubs-index-h2">지원 가능 동아리</h2></div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 align-center">
        <% if @club_check != nil %>
          <% @clubs.each do |x| %>
            <% if x.apply_active == '1' && ApplyForm.find_by_club_id(x.club.id) != nil %>  
              <a href="/club/club_view/<%= x.id %>">    
                <div class="card dsply-inbl pl05 pr05 ml10 mr10 mb20 align-center" style="width: 12.2rem;">
                  <img class="card-img-top clubs-index-img" src="/assets/clubs/<%=x.id%>.jpg" alt="Club image">
                  <div class="card-body overflow-hddn">
                    <h5 class="clubs-index-h3"><%= x.club.club_name %></h5>
                    <div class=" align-left"><p class="card-text clubs-index-p"><%= x.club.introduce %></p></div>
                  </div>
                </div>
              </a>
            <% end %>  
          <% end %>
        <% else %>
          <div class="if-none-contents">지원 가능한 동아리가 없습니다.</div>
        <% end %>
      </div>
      <div class="col-1"></div>
    </div>  
  </div>
</div>
