<div class="clubs-index mt60 mb60">
  <div class="container">
    <div class="align-center"><h2 class="clubs-index-h2">동아리</h2></div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 align-center">
        <% @clubs.each do |x| %>
          <a href="/club/club_view/<%= x.id %>">    
            <div class="card dsply-inbl pl05 pr05 ml10 mr10 mb20 align-center" style="width: 12.2rem;">
              <img class="card-img-top clubs-index-img" src="/assets/clubs/<%=x.id%>.jpg" alt="Club image">
              <div class="card-body overflow-hddn">
                <h5 class="clubs-index-h3"><%= x.club_name %></h5>
                <div class=" align-left"><p class="card-text clubs-index-p"><%= x.introduce %></p></div>
              </div>
            </div>
          </a>
        <% end %>
      </div>
      <div class="col-1"></div>
    </div>  
  </div>
</div>
